$dark: #1e1f25;
$text: #e8e8e8;
$secondary: #292a32;
$accent: #9474ed;
$positive: #62e9b8;
$negative: #da3d47;
$warning: #ec8e77;

$layoutBreakpoint-md: 742px;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&family=Roboto:wght@100;300;400;500;700&display=swap");
