@import "./../../pallete.scss";

.productFormContainer {
  display: flex;

  @media screen and (max-width: $layoutBreakpoint-md) {
    flex-direction: column;
  }

  .dashboardPage {
    flex: 6;

    @media screen and (max-width: 1024px) {
      flex: 5;
    }

    @media screen and (max-width: $layoutBreakpoint-md) {
      width: 100vw;
    }

    .productForm {
      padding-inline: 2rem;
      padding-top: 2rem;

      .editorContainer {
        // width: calc(100vw - 21%);
        max-width: 100%;
        padding: 2rem;
        background: $secondary;
        border-radius: 1.5rem;

        .title {
          font-size: 1.4rem;
          color: $accent;
          margin-bottom: 4rem;
        }

        @media screen and (max-width: $layoutBreakpoint-md) {
          width: 100%;
        }

        .ctaContainer {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .cta {
            padding: 0.4rem 2rem;
            border-radius: 1.5rem;
            border: 0;
            background: $accent;
            color: $text;
            transition: padding 200ms ease;
            cursor: pointer;

            &:hover {
              padding: 0.4rem 2.4rem;
            }

            &:disabled {
              opacity: 0.5;
              cursor: not-allowed;

              &:hover {
                padding: 0.4rem 2rem;
              }
            }
          }
        }
      }
    }
  }
}
